<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Painel Inicial</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="view/res/estilo.css">
    </head>
    <body>
        <div class="container">
            <a href="index.php?rota=login&operacao=criar" class="button">Interface Administrativa</a>
            <a href="index.php?rota=avaliacao&operacao=criar" class="button">Avaliar</a>
        </div>
    </body>
</html>